.modal {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  top: 33%;
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.modal h2 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button.submit,
button.cancel {
  width: 48%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.cancel {
  background-color: #ff5722;
}

button.cancel:hover {
  background-color: #dc4414;
}

button.submit {
  background-color: #4CAF50;
}

button.submit:hover {
  background-color: #45a049;
}

